.main-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(251, 245, 244, 0.9);

    &.visually-hidden {
        .main-menu__link {
            transform: translateY(-26px);
        }
    }
}

.main-menu__list {
    @include vertical-margins(0);
    @include pl(0);
    @include row;
    padding: 100px 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    font-size: 24px;
    list-style: none;
}

.main-menu__item {
    overflow: hidden;
}

.main-menu__link {
    display: block;
    font-family: 'Geometria', 'Arial', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.9s;
    transform: translateY(0);
}

.main-menu__link_active {
    color: black;
}