extends main
block title
    title Lotos
block content
    include ./blocks/main-header

    main#full-page.full-page
        .slide
            include ./blocks/main-block
        .slide slide-2
        .slide slide-3
        .slide slide-4
            
    include ./blocks/main-footer